<form asp-action="LoginWelcome" asp-controller="Home">
   
    <input type="text" name="FirstName"/>
    <p>First Name</p> 

    <input type="text" name="LastName"/>
    <p>Last Name</p>

    <input type="email" name="Email"/>
    <p>Email</p>

    <input type="password" name="Password"/>
    <p>Password</p>
    
    <input type="submit" name="Submit"/>
</form>